{% extends 'base.html' %}


{% block title %}Clouder - Main{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <a href="{% url 'logout' %}">Logout</a>


    {% else %}
        <p>Please login to continue</p>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <p><label for="id_login">Login:</label> <input type="text" name="login" autofocus="" maxlength="100" required="" id="id_login"></p>
            <p><label for="id_password">Password:</label> <input type="password" name="password" autofocus="" maxlength="100" required="" id="id_password"></p>
            <input type="submit" name="submit" value="submit">
        </form>
        <p>or <a href="{% url 'sign_in' %}">Sign in</a></p>
    {% endif %}
{% endblock %}